/* Box Sizing pattern-- */
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}
@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}
/* --Box Sizing pattern */

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

/*
Media

Show image or something next to this.

Markup:
<div class="media">
  <img class="media__image" src="http://placeholder.it/150x150" />
</div>

Styleguide Media
*/
.media {
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media__image {
  margin-right: 1.5em;
}