body {
  font-size: 20px;
  text-indent: 1em;
}

h1, h2 {
  font-size: 1.2em;
  text-indent: 2em;
}
.data{
  border:greenyellow 1px solid;
  background-color: $main-color;
}

@keyframes glow2 {
  from {
    background-color: $main-color;
  }
  to {
    background-color: #f6713c;
  }
}


.banner{
  overflow: hidden;
  margin: 5px;
  border-radius: 10px 20px 30px 40px / 40 px 30px 20px 10px;
}

.banner:hover {
  -webkit-animation: 1s glow2 infinite alternate;
  animation: 1s glow2 infinite alternate;
}

h2{
  margin-top: 30px;
}

.flowpanel {
  margin-right: 20px;
  width: 100px;
  height: 200px;
  background-color: hotpink;
  float: right;
}

.logo{
  background-color: cadetblue;
  padding: 20;
}

.main{
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px black solid;
  text-align:justify;
}